{{ define "main" }}
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <p class="desc">{{ . }}</p>
    {{ end }}
  </header>
  <article>
    {{ with .Params.profile }}
      <div class="profile float-{{ default "right" .align }}">
        {{ with .image }}
          {{ $image := printf "images/%s" . }}
          <img src="{{ $image | relURL }}" class="img-fluid z-depth-1{{ if .image_circular }} rounded-circle{{ else }} rounded{{ end }}" alt="profile">
        {{ end }}
        {{ with .more_info }}
          <div class="more-info">{{ . | safeHTML }}</div>
        {{ end }}
      </div>
    {{ end }}
    <div class="clearfix">{{ .Content }}</div>
  </article>
</div>
{{ end }}
